#navbarNav>ul>li {
    white-space: nowrap;
    padding: 0 0 0 24px;
    font-size: larger;
}
.carousel-control-prev-icon,.carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}
#header:before {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 6px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url("../public/multicolor_bar.svg");
}
.home{
    background-color: #007bc0;
    margin-block-start: 20px;
}